ul {
    list-style-type: none;
    padding: 0;
    padding-top: 1rem;
    margin: 0;
    border-right: 1px solid lightgrey;
}

.link {
    color: lightgrey;
    padding: 1rem;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.link:hover {
    color: darkslategray;
    background: white;
}

.disabled {
    color: grey;
    pointer-events: none;
}
