.loginForm {
    display: flex;
    flex-direction: column;
    border: 1px solid #DDE6ED;
    width: 20rem;
    border-radius: .5rem;
    padding: 2rem;
}

label {
    color: blanchedalmond;
}

input {
    margin-bottom: 2rem;
}